$rosewater:   #f5e0dc;
$flamingo:    #f2cdcd;
$pink:        #f5c2e7;
$mauve:       #cba6f7;
$red:         #bf616a;
$maroon:      #eba0ac;
$peach:       #fab387;
$yellow:      #ebcb8b;
$green:       #a3be8c;
$teal:        #94e2d5;
$sky:         #89dceb;
$sapphire:    #74c7ec;
$blue:        #89b4fa;
$lavender:    #b4befe;

$text:        #2e3440;
$subtext1:    #7a869f;
$subtext0:    #606d85;
$overlay2:    #4c566a;
$overlay1:    #434c5e;
$overlay0:    #3b4252;

$surface3:    #dfe4ec;
$surface2:    #585b70;
$surface1:    #eceff4;
$surface0:    #e5e9f0;

$base:        #eff1f6;
$mantle:      #eceff4;
$crust:       #e5e9f0;

$fg: $text;
$bg: $base;
$bg1: $surface0;
$border: #28283d;
$shadow: $crust;
